.navbar {
    max-height: 120px;
}

.sticky-top {
    margin-bottom: 0px;
}

.navbar-title {
    width: 15rem;
    margin-left: 150px;


}

.navbar-title > h1 {
    font-size: 50px;
    

}

.logo >img {
    margin-left: .5rem;
    height: auto;
    width: 180px;
    max-width: 1000px;
    background-color: red;
}

@media screen and (max-width: 828px) {
    .navbar-title{
        margin-left: 100px;
    } 
}
@media screen and (max-width: 764px) {
    .navbar-title{
        margin-left: -40%;
    } 
}